<html ng-app="ngIntroApp">
  <head>
    <title>Angular Intro App</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <style type="text/css">
      .beer:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    </style>
    <script type="text/javascript">
      var app = angular.module('ngIntroApp', []);

      app.filter('reverse', function() {
        return function(input) {
          input = input || '';
          var out = "";
          for (var i = 0; i < input.length; i++) {
            out = input.charAt(i) + out;
          }
          return out;
        };
      });

      app.controller('beerCtrl', function($scope, beerService) {
        $scope.title = 'I like beer.';
        $scope.beerList = ['Enjoy By IPA', 'The Apprentice', 'Sculpin IPA', 'Pliny the Elder', 'West Coast IPA', 'Pure Hoppiness', 'Maharaja'];

        $scope.addBeer = function(beer) {
          if ($scope.beerList.indexOf(beer) === -1) {
            $scope.beerList.push(beer);
            $scope.newBeer = '';
            $scope.error = '';
          } else {
            $scope.error = 'Dude, you already like that beer.';
          }
        };

        $scope.searchBeer = function(terms) {
          beerService.query(terms).
            success(function(data) {
              $scope.newBeers = data.beers;
              $scope.error = '';
            }).
            error(function() {
              $scope.error = 'Sorry, something blew up with that search.';
            });
        };
      });

      app.factory('beerService', function($http) {
        var beerService = {
          query: function(terms) {
            var url = 'http://api.openbeerdatabase.com/v1/beers.json?query=' + terms;
            return $http.get(url);
          }
        };

        return beerService;
      });
    </script>
  </head>
  <body>
    <input ng-model="foo"></input>
    <div>{{ foo | uppercase | reverse }}</div>

    <br/>

    <div ng-controller="beerCtrl">
      <div>{{ title }}</div><br/>
      <div ng-repeat="beer in beerList">{{ beer }}</div>

      <br/>

      <div style="color: red">{{ error }}</div>

      <input ng-model="newBeer"></input>
      <button ng-click="addBeer(newBeer)">Add</button>

      <br/>

      <input ng-model="searchTerms"></input>
      <button ng-click="searchBeer(searchTerms)">Search</button>
      <div ng-repeat="beer in newBeers" ng-click="addBeer(beer.name)" class="beer">
        <span>{{ beer.brewery.name }} - </span>
        <span>{{ beer.name }}</span>
      </div>
    </div>
  </body>
</html>
