<html ng-app="ngIntroApp">
  <head>
    <title>Angular Intro App</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module('ngIntroApp', []);

      app.filter('reverse', function() {
        return function(input) {
          input = input || '';
          var out = "";
          for (var i = 0; i < input.length; i++) {
            out = input.charAt(i) + out;
          }
          return out;
        };
      });

      app.controller('beerCtrl', function($scope) {
        $scope.title = 'I like beer.';
        $scope.beerList = ['Enjoy By IPA', 'The Apprentice', 'Sculpin IPA', 'Pliny the Elder', 'West Coast IPA', 'Pure Hoppiness', 'Maharaja'];

        $scope.addBeer = function() {
          $scope.beerList.push($scope.newBeer);
        };
      });
    </script>
  </head>
  <body>
    <input ng-model="foo"></input>
    <div>{{ foo | uppercase | reverse }}</div>

    <br/>

    <div ng-controller="beerCtrl">
      <div>{{ title }}</div><br/>
      <div ng-repeat="beer in beerList">{{ beer }}</div>

      <input ng-model="newBeer"></input>
      <button ng-click="addBeer()">Add</button>
    </div>
  </body>
</html>
